In [194]:
import pandas as pd
import numpy as np
import ast

In [195]:
df = pd.read_csv('out_with_pros.csv')   #import file
df.head() # Getting basic information

,Unnamed: 0,Job Title,Company,Company Rating,Salary,Location,Career Opportunities,Company Benefits,Culture & Values,Upper Management,Work Life Balance,Company Pros Reviews,Company Cons Reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY\n3.9,3.9,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD\n4.2,4.2,Employer Provided Salary:$4K - $4K,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,Employer Provided Salary:$3K - $4K,Singapore,2.5,2.2,2.7,2.7,2.7,['No Pros have been reported by the Glassdoor ...,"['""Low salary compare to market, and very litt..."

In [196]:
# information about columns and data types
# no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            990 non-null    int64
 1   Job Title             990 non-null    object
 2   Company               990 non-null    object
 3   Company Rating        990 non-null    float64
 4   Salary                990 non-null    object
 5   Location              990 non-null    object
 6   Career Opportunities  990 non-null    float64
 7   Company Benefits      990 non-null    float64
 8   Culture & Values      990 non-null    float64
 9   Upper Management      990 non-null    float64
 10  Work Life Balance     990 non-null    float64
 11  Company Pros Reviews  990 non-null    object
 12  Company Cons Reviews  990 non-null    object
dtypes: float64(6), int64(1), object(6)
memory usage: 100.7+ KB

In [197]:
# copying dataset for cleaning
df_clear = df.copy()

In [198]:
# Getting names of columns
df.columns

Index(['Unnamed: 0', 'Job Title', 'Company', 'Company Rating', 'Salary',
       'Location', 'Career Opportunities', 'Company Benefits',
       'Culture & Values', 'Upper Management', 'Work Life Balance',
       'Company Pros Reviews', 'Company Cons Reviews'],
      dtype='object')

In [199]:
df_clear.rename(columns=str.lower, inplace=True)
df_clear

,unnamed: 0,job title,company,company rating,salary,location,career opportunities,company benefits,culture & values,upper management,work life balance,company pros reviews,company cons reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY\n3.9,3.9,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD\n4.2,4.2,Employer Provided Salary:$4K - $4K,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,Employer Provided Salary:$3K - $4K,Singapore,2.5,2.2,2.7,2.7,2.7,['No Pros have been reported by the Glassdoor ...,"['""Low salary compare to market, and very litt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,Junior School Office Staff,NORTH LONDON COLLEGIATE SCHOOL (SINGAPORE) PTE...,2.7,Employer Provided Salary:$2K - $4K,Singapore,2.4,2.9,2.4,2.1,2.3,"['""Staff are very friendly and welcoming to ne...",['No Cons have been reported by the Glassdoor ...
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT\n4.0,4.0,Employer Provided Salary:$8K - $9K,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,AML Compliance Officer,ASIA DIGITAL EXCHANGE PTE. LTD.,-1.0,Employer Provided Salary:$4K - $7K,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
988,988,IT Security Governance & Risk Specialist,Housing and Development Board\n3.4,3.4,Employer Provided Salary:$5K - $9K,Singapore,3.0,3.7,3.4,3.3,3.4,"['""life balance (can end work on time), great ...","['""High volume of workload, a lot manual work,..."
989,989,DevOps Engineer,HAYS SPECIALIST RECRUITMENT PTE. LTD.\n3.6,3.6,Employer Provided Salary:$7K - $13K,Singapore,3.7,3.3,3.6,3.4,3.4,"['""Good Salary and Perks provided"" (in 17 revi...","['""Just only low salary ."" (in 17 reviews)', '..."

In [200]:
df_clear.columns = df_clear.columns.str.replace(' ', '_')
df_clear.columns = df_clear.columns.str.replace('&', '_')
df_clear

,unnamed:_0,job_title,company,company_rating,salary,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD\n3.3,3.3,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY\n3.9,3.9,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies\n4.2,4.2,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD\n4.2,4.2,Employer Provided Salary:$4K - $4K,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,Employer Provided Salary:$3K - $4K,Singapore,2.5,2.2,2.7,2.7,2.7,['No Pros have been reported by the Glassdoor ...,"['""Low salary compare to market, and very litt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,Junior School Office Staff,NORTH LONDON COLLEGIATE SCHOOL (SINGAPORE) PTE...,2.7,Employer Provided Salary:$2K - $4K,Singapore,2.4,2.9,2.4,2.1,2.3,"['""Staff are very friendly and welcoming to ne...",['No Cons have been reported by the Glassdoor ...
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT\n4.0,4.0,Employer Provided Salary:$8K - $9K,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,AML Compliance Officer,ASIA DIGITAL EXCHANGE PTE. LTD.,-1.0,Employer Provided Salary:$4K - $7K,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
988,988,IT Security Governance & Risk Specialist,Housing and Development Board\n3.4,3.4,Employer Provided Salary:$5K - $9K,Singapore,3.0,3.7,3.4,3.3,3.4,"['""life balance (can end work on time), great ...","['""High volume of workload, a lot manual work,..."
989,989,DevOps Engineer,HAYS SPECIALIST RECRUITMENT PTE. LTD.\n3.6,3.6,Employer Provided Salary:$7K - $13K,Singapore,3.7,3.3,3.6,3.4,3.4,"['""Good Salary and Perks provided"" (in 17 revi...","['""Just only low salary ."" (in 17 reviews)', '..."

In [201]:
company_name = df_clear.company.tolist()
# removed the numbers from the company name
for i in range(len(company_name)):
    company_name[i] = company_name[i].split('\n',1)[0]

In [202]:
# preview cleaned company names
df_clear.company = company_name
df_clear.head()

,unnamed:_0,job_title,company,company_rating,salary,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,Employer Provided Salary:$2K - $6K,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY,3.9,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,-1,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD,4.2,Employer Provided Salary:$4K - $4K,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,Employer Provided Salary:$3K - $4K,Singapore,2.5,2.2,2.7,2.7,2.7,['No Pros have been reported by the Glassdoor ...,"['""Low salary compare to market, and very litt..."

In [203]:
# Replacing -1 values to 0-0 for easier processing of max/min salary values
salary_estimate = df_clear.salary.tolist()

for i in range(len(salary_estimate)):
    if salary_estimate[i] == '-1':
        salary_estimate[i] = '$0K-$0K'

In [204]:
# Extract salary value by texts' (Employer Provided Salary: and  (Glassdoor Est.))
for i in range(len(salary_estimate)):
    salary_estimate[i] = salary_estimate[i].replace('Employer Provided Salary:', '')
    salary_estimate[i] = salary_estimate[i].replace(' (Glassdoor Est.)', '')
    salary_estimate[i] = salary_estimate[i].replace('$', '')
    salary_estimate[i] = salary_estimate[i].replace('K', '')
    salary_estimate[i] = salary_estimate[i].replace(' ', '')

    if 'Perhour' in salary_estimate[i]:
        salary_estimate[i] = '12-12'

print(salary_estimate)

['2-6', '0-0', '0-0', '4-4', '3-4', '3-6', '2-5', '2-3', '50-86', '3-4', '2-4', '0-0', '3-4', '3-3', '0-0', '3-5', '4-6', '3-5', '3-8', '40-100', '89-132', '0-0', '4', '3-4', '26-41', '4-5', '5-5', '3-4', '3-6', '7-12', '6-12', '4-5', '7-12', '0-0', '0-0', '0-0', '0-0', '0-0', '0-0', '3-4', '2-5', '0-0', '0-0', '4-5', '4-6', '3-4', '0-0', '5-6', '4-4', '5-9', '37-56', '4-5', '49-94', '5-7', '50-95', '5-10', '37-56', '0-0', '0-0', '4-6', '12-12', '3-4', '5-7', '0-0', '3-6', '4-6', '0-0', '0-0', '43-48', '3-4', '37', '36-63', '2-5', '0-0', '0-0', '2-3', '3-4', '0-0', '34-66', '29-60', '0-0', '0-0', '0-0', '80-144', '0-0', '0-0', '2-5', '47-60', '3-4', '50-73', '6-12', '4-5', '0-0', '0-0', '0-0', '0-0', '2-5', '0-0', '0-0', '54-77', '0-0', '9-10', '4-5', '7-11', '0-0', '7-10', '5-7', '10-11', '8-9', '43-117', '5-10', '7-8', '0-0', '0-0', '37-56', '4-6', '3-4', '0-0', '0-0', '0-0', '3-4', '2-8', '0-0', '3-4', '5-7', '64', '3-3', '0-0', '4-6', '0-0', '43-48', '26-41', '54', '34-41', '0-0', '3-4', '0-0', '2-5', '5-7', '50-90', '50-120', '2-3', '34-41', '37-86', '0-0', '34-66', '58-78', '32-37', '3-3', '0-0', '52-63', '58-85', '0-0', '0-0', '0-0', '0-0', '4-5', '44-84', '54-76', '0-0', '0-0', '40-66', '6-8', '2-4', '0-0', '0-0', '0-0', '3-7', '0-0', '50-99', '11-21', '11-22', '0-0', '48-60', '3-4', '0-0', '0-0', '43', '0-0', '34-42', '3-4', '2-8', '3-3', '4-6', '5-7', '3-4', '32-37', '0-0', '48-60', '34-41', '64', '0-0', '54', '2-5', '2-3', '60-92', '34-41', '3-6', '0-0', '50-90', '37-86', '3-3', '50-120', '2', '3-4', '34-66', '0-0', '3-4', '0-0', '3-3', '6-9', '4-6', '50-65', '5-7', '5-8', '4-7', '3-5', '5-9', '0-0', '4-7', '89-132', '5-9', '0-0', '6-8', '5-6', '7-10', '0-0', '7-10', '7-10', '3-6', '0-0', '0-0', '0-0', '0-0', '49-94', '0-0', '60-123', '48-56', '0-0', '0-0', '4-5', '3-5', '3-10', '6-9', '5-8', '0-0', '59-94', '0-0', '4-7', '0-0', '0-0', '0-0', '0-0', '27-77', '27-48', '5', '2-5', '8-16', '6-12', '5-6', '10-20', '5', '38-48', '0-0', '81-128', '58-62', '10-20', '3-6', '8-15', '4-6', '0-0', '95-118', '0-0', '50-65', '81-128', '4-6', '0-0', '81-96', '4-7', '96-132', '11-21', '4-7', '0-0', '7-12', '0-0', '5-9', '7-10', '0-0', '5-6', '3-7', '0-0', '3-6', '0-0', '0-0', '79-96', '7-10', '4-6', '7-10', '0-0', '53-81', '6-12', '3-5', '48-60', '0-0', '14-52', '63-92', '60-66', '0-0', '4-7', '27-48', '12-17', '60-66', '4-6', '0-0', '4-6', '8-9', '4-6', '64-98', '8-16', '0-0', '1-3', '0-0', '4-7', '0-0', '7-13', '6-12', '0-0', '0-0', '0-0', '78-84', '64-95', '0-0', '60-66', '0-0', '64-98', '0-0', '7-13', '0-0', '12-17', '1-3', '4-6', '0-0', '64-98', '1', '5-13', '100-180', '0-0', '64-98', '48-60', '14-52', '100-177', '64-98', '64-98', '42-65', '64-98', '64-66', '40-50', '100-180', '14-19', '42-65', '12-15', '4-11', '72-120', '6-10', '0-0', '8-9', '5-13', '7-11', '0-0', '6', '6-9', '8-17', '11-21', '96-132', '5-9', '10-20', '10-14', '2-3', '48-60', '0-0', '9-13', '7-12', '6-9', '0-0', '0-0', '0-0', '48-60', '0-0', '48-61', '50-66', '0-0', '4-4', '3-5', '63-92', '6-8', '6-8', '72-78', '3-5', '7-10', '7-10', '7-8', '5-7', '7-9', '7-9', '6-8', '4-7', '3-5', '3-5', '2-2', '0-0', '0-0', '4-5', '3-4', '3', '0-0', '0-0', '0-0', '0-0', '0-0', '0-0', '3-10', '0-0', '4-6', '2-4', '0-0', '5-7', '7-13', '4-7', '2', '3-6', '0-0', '14-52', '5', '0-0', '0-0', '0-0', '48-61', '96-132', '0-0', '37-80', '0-0', '0-0', '0-0', '0-0', '48-70', '128-157', '30-84', '7-12', '0-0', '0-0', '3-10', '0-0', '4-6', '0-0', '0-0', '3-6', '0-0', '5-7', '2', '0-0', '2-4', '7-13', '14-52', '5', '4-7', '0-0', '0-0', '37-80', '0-0', '30-84', '48-61', '0-0', '96-132', '48-70', '0-0', '128-157', '30-84', '0-0', '0-0', '5-6', '6-9', '50-65', '7-14', '5-7', '2-4', '7-13', '0-0', '8-9', '7-10', '5-8', '6-8', '7-9', '89-132', '10-20', '7-14', '0-0', '0-0', '42-72', '0-0', '5', '0-0', '30-84', '0-0', '0-0', '71-95', '8', '30-84', '60-96', '89-96', '8', '6-9', '50-65', '7-14', '2-4', '7-13', '8-9', '7-9', '0-0', '5-7', '6-8', '10-20', '7-10', '7-14', '89-132', '71-95', '5-8', '0-0', '0-0', '30-84', '42-72', '0-0', '30-84', '0-0', '8', '5', '35-57', '0-0', '6-12', '0-0', '0-0', '0-0', '5-6', '6-8', '7-14', '2-4', '0-0', '6-11', '5-7', '3-6', '0-0', '52-124', '49-60', '8', '0-0', '5-9', '0-0', '0-0', '0-0', '49-60', '0-0', '4-7', '3-6', '7-11', '0-0', '100-121', '5-6', '0-0', '79-92', '59-84', '5-6', '6-12', '2-4', '3-5', '1-3', '14-52', '27-48', '4-6', '14-52', '0-0', '27-48', '4-6', '12-17', '0-0', '0-0', '0-0', '0-0', '7-13', '84-140', '5-9', '0-0', '1-2', '5-13', '14-52', '0-0', '0-0', '8-14', '1-3', '63-92', '14-52', '8-17', '6-12', '2-4', '3-5', '1-3', '14-52', '27-48', '4-6', '14-52', '0-0', '4-6', '27-48', '12-17', '0-0', '0-0', '0-0', '8-14', '0-0', '0-0', '0-0', '7-13', '84-140', '5-9', '0-0', '1-2', '5-13', '0-0', '14-52', '1-3', '63-92', '14-52', '0-0', '0-0', '0-0', '0-0', '0-0', '78-84', '112-128', '12-23', '9-11', '10-14', '11-22', '0-0', '11-21', '5-13', '0-0', '0-0', '7-13', '0-0', '8-17', '0-0', '8-17', '6-10', '5-10', '0-0', '12-15', '0-0', '0-0', '0-0', '10-19', '14-52', '0-0', '0-0', '0-0', '112-128', '0-0', '12-23', '9-11', '10-14', '11-22', '0-0', '8-17', '0-0', '0-0', '0-0', '78-84', '0-0', '0-0', '6-10', '11-21', '0-0', '5-13', '5-10', '7-13', '8-17', '12-15', '0-0', '10-19', '0-0', '0-0', '14-52', '0-0', '4-5', '3-5', '3-10', '6-9', '5-8', '0-0', '0-0', '0-0', '27-48', '4-6', '6-12', '10-20', '10-20', '8-16', '7-15', '9-11', '16-31', '7-11', '0-0', '8-15', '13-14', '96-131', '7-15', '10-20', '4-7', '8-15', '0-0', '8-9', '8-15', '0-0', '4-5', '3-5', '3-10', '6-9', '5-8', '0-0', '4-6', '27-48', '0-0', '9-11', '0-0', '8-16', '0-0', '6-12', '10-20', '16-31', '7-15', '8-15', '10-20', '7-15', '13-14', '8-15', '27-48', '10-20', '7-11', '27-77', '4-7', '0-0', '12-24', '50-99', '7-10', '50-99', '0-0', '3-6', '5-8', '49', '4-8', '50-99', '50-99', '11-21', '0-0', '42-65', '5-8', '0-0', '50-99', '32-48', '0-0', '120-144', '2-4', '3-5', '72-78', '0-0', '7-13', '7-13', '45-52', '4-5', '7-8', '8-9', '0-0', '29-36', '7-12', '81-115', '90-125', '8-9', '48-61', '5-5', '3-3', '29-36', '0-0', '3-3', '0-0', '0-0', '0-0', '4', '56-72', '64', '36-44', '0-0', '0-0', '5-10', '7', '0-0', '0-0', '3-5', '80-138', '34-81', '3-4', '4-5', '8', '3-5', '27-48', '4-6', '0-0', '0-0', '0-0', '3-6', '0-0', '27-48', '4-5', '4-6', '50-65', '3-6', '2', '0-0', '32-48', '2-4', '7-11', '52-100', '30-84', '5-7', '48-60', '6-8', '4-7', '0-0', '10-20', '7-9', '3-5', '8-8', '5', '6-9', '4-6', '0-0', '6-7', '9-11', '4-7', '7-10', '4-7', '6-8', '5-7', '13-14', '6-9', '5-7', '6-11', '10-20', '3-4', '7-10', '3-5', '0-0', '6-10', '4-5', '7-10', '8-15', '7-10', '8-11', '42-65', '4-10', '5-7', '10-20', '8-10', '6-12', '0-0', '8-9', '8-9', '5-8', '0-0', '8-15', '33-48', '40-78', '5-7', '3-3', '0-0', '57-90', '43-60', '4-5', '5-9', '0-0', '0-0', '4', '0-0', '5-10', '3-4', '74-121', '106-136', '0-0', '3', '108-142', '63-96', '0-0', '33-96', '6-12', '0-0', '33-48', '8-9', '8-9', '0-0', '5-8', '40-78', '5-7', '8-15', '3-3', '43-60', '0-0', '4', '0-0', '57-90', '4-5', '106-136', '0-0', '3', '0-0', '0-0', '108-142', '5-10', '33-96', '3-4', '74-121', '35-64', '5-9', '1', '3-5', '0-0', '4-6', '4-6', '3-6', '2', '27-48', '0-0', '50-65', '5-7', '0-0', '4-7', '6-9', '32-48', '7-11', '27-48', '2-4', '4-5', '10-20', '7-9', '48-60', '3-6', '5-7', '2-5', '6-8', '5', '0-0', '0-0', '6-8', '96-132', '50-99', '7-10', '50-99', '3-6', '0-0', '0-0', '5-8', '49', '50-99', '11-21', '4-8', '120-144', '50-99', '0-0', '32-48', '0-0', '42-65', '0-0', '5-8', '50-99', '45-52', '72-78', '7-13', '3-5', '4-5', '2-4', '8-9', '4-7', '5-9', '7-13']

In [205]:
df_clear.salary = salary_estimate
df_clear.salary.unique()

array(['2-6', '0-0', '4-4', '3-4', '3-6', '2-5', '2-3', '50-86', '2-4',
       '3-3', '3-5', '4-6', '3-8', '40-100', '89-132', '4', '26-41',
       '4-5', '5-5', '7-12', '6-12', '5-6', '5-9', '37-56', '49-94',
       '5-7', '50-95', '5-10', '12-12', '43-48', '37', '36-63', '34-66',
       '29-60', '80-144', '47-60', '50-73', '54-77', '9-10', '7-11',
       '7-10', '10-11', '8-9', '43-117', '7-8', '2-8', '64', '54',
       '34-41', '50-90', '50-120', '37-86', '58-78', '32-37', '52-63',
       '58-85', '44-84', '54-76', '40-66', '6-8', '3-7', '50-99', '11-21',
       '11-22', '48-60', '43', '34-42', '60-92', '2', '6-9', '50-65',
       '5-8', '4-7', '60-123', '48-56', '3-10', '59-94', '27-77', '27-48',
       '5', '8-16', '10-20', '38-48', '81-128', '58-62', '8-15', '95-118',
       '81-96', '96-132', '79-96', '53-81', '14-52', '63-92', '60-66',
       '12-17', '64-98', '1-3', '7-13', '78-84', '64-95', '1', '5-13',
       '100-180', '100-177', '42-65', '64-66', '40-50', '14-19', '12-15',
       '4-11', '72-120', '6-10', '6', '8-17', '10-14', '9-13', '48-61',
       '50-66', '72-78', '7-9', '2-2', '3', '37-80', '48-70', '128-157',
       '30-84', '7-14', '42-72', '71-95', '8', '60-96', '89-96', '35-57',
       '6-11', '52-124', '49-60', '100-121', '79-92', '59-84', '84-140',
       '1-2', '8-14', '112-128', '12-23', '9-11', '10-19', '7-15',
       '16-31', '13-14', '96-131', '12-24', '49', '4-8', '32-48',
       '120-144', '45-52', '29-36', '81-115', '90-125', '56-72', '36-44',
       '7', '80-138', '34-81', '52-100', '8-8', '6-7', '8-11', '4-10',
       '8-10', '33-48', '40-78', '57-90', '43-60', '74-121', '106-136',
       '108-142', '63-96', '33-96', '35-64'], dtype=object)

In [206]:
# Splitting data to make a low and max salary limit columns
split_data = df_clear.salary.str.split('-', expand=True)
low_salary_limit = split_data[0].tolist()
max_salary_limit = split_data[1].tolist()

for i in range(len(max_salary_limit)):
    if max_salary_limit[i] == None:
        max_salary_limit[i] = low_salary_limit[i]

In [207]:
new_idx = df_clear.columns.get_loc('salary') + 1

In [208]:
# insert the low_salary_limit column after the salary_estimate column
df_clear.insert(new_idx, 'low_salary_limit', low_salary_limit)

new_idx2 = df_clear.columns.get_loc('low_salary_limit') + 1

In [209]:
# insert the max_salary_limit column after the low_salary_limit column
df_clear.insert(new_idx2, 'max_salary_limit', max_salary_limit)

#pd.set_option('display.max_rows', None)
#df_clear
# remove extra values from the column with salary
df_clear['max_salary_limit'] = df_clear['max_salary_limit'].astype(int)
df_clear['low_salary_limit'] = df_clear['low_salary_limit'].astype(int)

In [210]:
# lead to thousands
df_clear[['low_salary_limit', 'max_salary_limit']] = df_clear[['low_salary_limit', 'max_salary_limit']] * 1000

In [211]:
# remove the salary estimate column
df_clear.drop(columns='salary', inplace=True)
df_clear

,unnamed:_0,job_title,company,company_rating,low_salary_limit,max_salary_limit,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,2000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"['""Very responsible, able to ans to staff enqu...","['""Basic benefits is given by dl resources cli..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY,3.9,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD,4.2,4000,4000,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,3000,4000,Singapore,2.5,2.2,2.7,2.7,2.7,['No Pros have been reported by the Glassdoor ...,"['""Low salary compare to market, and very litt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,Junior School Office Staff,NORTH LONDON COLLEGIATE SCHOOL (SINGAPORE) PTE...,2.7,2000,4000,Singapore,2.4,2.9,2.4,2.1,2.3,"['""Staff are very friendly and welcoming to ne...",['No Cons have been reported by the Glassdoor ...
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT,4.0,8000,9000,Singapore,3.6,3.7,3.9,3.6,4.3,"['""Good work life balance with ample PTO"" (in ...","['""Absolutely no work life balance"" (in 5 revi..."
987,987,AML Compliance Officer,ASIA DIGITAL EXCHANGE PTE. LTD.,-1.0,4000,7000,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,"[-1, -1, -1, -1, -1]","[-1, -1, -1, -1, -1]"
988,988,IT Security Governance & Risk Specialist,Housing and Development Board,3.4,5000,9000,Singapore,3.0,3.7,3.4,3.3,3.4,"['""life balance (can end work on time), great ...","['""High volume of workload, a lot manual work,..."
989,989,DevOps Engineer,HAYS SPECIALIST RECRUITMENT PTE. LTD.,3.6,7000,13000,Singapore,3.7,3.3,3.6,3.4,3.4,"['""Good Salary and Perks provided"" (in 17 revi...","['""Just only low salary ."" (in 17 reviews)', '..."

In [212]:
# Converting company pros and cons from str to list, since data in df is str
companypros = df_clear.company_pros_reviews.tolist()
companycons = df_clear.company_cons_reviews.tolist()

for i in range(len(companypros)):
    companypros[i] = ast.literal_eval(companypros[i])
    companycons[i] = ast.literal_eval(companycons[i])

In [218]:
# Removing all -1 values from pro and con reviews (might have to run this cell at least 5 times)
for i in range(len(companypros)):
    for x in companypros[i]:
        if x == -1:
            companypros[i].remove(x)

    for x in companycons[i]:
        if x == -1:
            companycons[i].remove(x)

In [219]:
for i in range(len(companypros)):
    if not companypros[i]:
        companypros[i] = 'N/A'
    if not companycons[i]:
        companycons[i] = 'N/A'

df_clear.company_pros_reviews = companypros
df_clear.company_cons_reviews = companycons

In [220]:
df_clear

,unnamed:_0,job_title,company,company_rating,low_salary_limit,max_salary_limit,location,career_opportunities,company_benefits,culture___values,upper_management,work_life_balance,company_pros_reviews,company_cons_reviews
0,0,Information Technology Analyst (Banking - Fres...,D L RESOURCES PTE LTD,3.3,2000,6000,Singapore,2.8,2.2,2.5,2.5,2.6,"[""Very responsible, able to ans to staff enqui...","[""Basic benefits is given by dl resources clie..."
1,1,"IT Support, Data & Analytics - Technology Cons...",EY,3.9,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,N/A,N/A
2,2,Staff Analyst - Information Technology (B2B),Infineon Technologies,4.2,0,0,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,N/A,N/A
3,3,IT Engineer,SMCC OVERSEAS SINGAPORE PTE LTD,4.2,4000,4000,Bukit Merah Estate,4.0,3.9,3.7,3.3,3.1,N/A,N/A
4,4,IT Support,FRONTIER FORCE TECHNOLOGY PTE LTD,-1.0,3000,4000,Singapore,2.5,2.2,2.7,2.7,2.7,[No Pros have been reported by the Glassdoor c...,"[""Low salary compare to market, and very littl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,985,Junior School Office Staff,NORTH LONDON COLLEGIATE SCHOOL (SINGAPORE) PTE...,2.7,2000,4000,Singapore,2.4,2.9,2.4,2.1,2.3,"[""Staff are very friendly and welcoming to new...",[No Cons have been reported by the Glassdoor c...
986,986,Markets Compliance - Compliance Officer,COMMERZBANK AKTIENGESELLSCHAFT,4.0,8000,9000,Singapore,3.6,3.7,3.9,3.6,4.3,"[""Good work life balance with ample PTO"" (in 5...","[""Absolutely no work life balance"" (in 5 revie..."
987,987,AML Compliance Officer,ASIA DIGITAL EXCHANGE PTE. LTD.,-1.0,4000,7000,Singapore,-1.0,-1.0,-1.0,-1.0,-1.0,N/A,N/A
988,988,IT Security Governance & Risk Specialist,Housing and Development Board,3.4,5000,9000,Singapore,3.0,3.7,3.4,3.3,3.4,"[""life balance (can end work on time), great c...","[""High volume of workload, a lot manual work, ..."
989,989,DevOps Engineer,HAYS SPECIALIST RECRUITMENT PTE. LTD.,3.6,7000,13000,Singapore,3.7,3.3,3.6,3.4,3.4,"[""Good Salary and Perks provided"" (in 17 revie...","[""Just only low salary ."" (in 17 reviews), ""ba..."